.banner {
    width: 700px;
    height: 400px;
    border: 10px solid #303841;
    margin: auto;
    animation: banner 10s infinite linear alternate;
    background-size:100% 100%;
 }
 
 @keyframes banner {
     0%,30% {
         background-image:url(imagen/imagen1.jpg) ;
         opacity: 1;
     }
     31%,34% {
         opacity:0.5;
     }
     35%,65%{
         background-image: url(imagen/imagen2.jpg);
     }
 }